p {
    font-family: system-ui;
}

img {
    max-height: 100%;
}

.card-img-top {
    width: 100%;
}

#body-button {
    background-color: transparent;
    background: #ffffff;
    box-shadow: inset 0 0 0 1.5px #00BFA5;
    color: #00BFA5;
}

#body-button:hover {
    background: #00BFA5;
    color: #ffffff;
    text-decoration: none;
}

#demo-button {
    background-color: #00BFA5;
    color: #FFFFFF;
}

p-font {
    font-family: system-ui;
}


/* Navbar */

#purple-navbar {
    background-color: #392c3c;
    color: #FFFFFF;
    height: 12%;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: width .3s;
}

.navbar a:hover::after {
    width: 100%;
    transition: width .3s;
}


/*Card with teal border for testimonials page*/

.quote-card {
    padding: 1.25rem;
    /*margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            border: 1px solid #eee;*/
    border-left-width: 0.7rem;
    border-radius: .25rem;
    border-left-color: rgba(0, 191, 165, 0.6);
}